<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type="text/css" href="gallery.css">
  <link rel= "stylesheet" type="text/css" href="typology.css">
  <link rel= "stylesheet" type="text/css" href="resets.css">
  <title>Destinations Gallery</title>
</head>


<body>
    <header>
      <!--logo from from fontawesome that I couldn't get working-->
      <li><i class="fas fa-map-marked-alt"></i></li>
      <h1><a href=index.html>TE Travel Experts</a></h1>
      <nav>
        <ul>
          <li><a href=index.html>Home</a></li>
          <li><a href=login.html>Login</a></li>
        </ul>
      </nav>
    </header>

  <main class="gallery">

  </main>

    <script src="js/app.js"></script>

<body>
      

  

  